#navbarSupportedContent {
    justify-content: space-between;
}

.nav-link {
    color: #181717;
    font-weight: 600;
}

.resume-btn {
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 15px;
    /* background-color: #181717; */
    background-color: white;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.resume-btn .text {
    margin-bottom: 0;
    color: black;
    font-weight: 600;
    font-size: 1em;
    transition: 400ms;
}

.resume-btn svg path {
    transition: 400ms;
}

.resume-btn:hover {
    /* background-color: transparent; */
    background-color: #181717;
}

.resume-btn:hover .text {
    /* color: #181717; */
    color: white;
}

.resume-btn:hover svg path {
    /* fill: #181717; */
    fill: #ffffff;
    stroke: #ffffff;
}

#svg-group img {
    width: 45vw;
}

.col-sm-6 {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 5rem;
}

#self-intro {
    font-family: serif;
    font-weight: 500;
    color: rgb(38, 38, 38);
    font-size: 1.2vw;
}

.tag-text {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

.bold-text {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

div h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
}

#self-intro {
    font-family: serif;
    font-weight: 500;
    color: rgb(38, 38, 38);
    font-size: 1vw;
}

.row-aling-center {
    align-items: center;
}

.social-btn {
    height: 45px;
    width: 45px;
}

#social-link {
    display: flex;
    column-gap: 32px;
}

#hero-section{
    margin-top: 2rem;
}


.skill-card {
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    background-color: white;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.skill-card .text {
    margin-bottom: 0;
    color: black;
    font-weight: 600;
    font-size: 1em;
    transition: 400ms;
}

.skill-card svg path {
    transition: 400ms;
}

.skill-card:hover {
    background-color: #181717;
}

.skill-card:hover .text {
    color: white;
}

.skill-card:hover svg path {
    fill: #ffffff;
}

#div-skill-cards{
    display: flex;
    flex-direction: row;
    column-gap: 5.5rem;
    row-gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#skills-section h1{
    margin-top: 7rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    color: #181717;
    margin-bottom: 5rem;
}

#skills-bold{
    font-weight: 900;
}

#experience-section h1{
    margin-top: 5rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* font-size: 3rem; */
    color: #ffffff;
    margin-bottom: 4rem;
    padding-top: 4rem;
}
#experience-section{
    width: 100%;
    height: 42rem;
    /* color: #e81cff; */
    background-color: black;
   margin: 0;
   padding: 0;
   top: 0;
   left: 0;
}

.exp-card{
    /* width: 85%; */
    width: 80vw;
    /* height: 190px; */
    /* height: 13vw; */
    height: 13rem;
    box-sizing: border-box;
    background: transparent;
    border: 0.1px solid rgb(255,255,255,255);
    border-radius: 10px;
    color: #ffffff;
}

.exp-card-text{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2rem;
    color: #ffffff;
}

.exp-card-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exp-card-head span {
    font-size: 1.5vw;
}

.volansys-img{
    width: 180px;
    height: 40px;
}

.exp-card-body{
    text-align: left;
    padding: 8px;
}

.exp-card-body p {
    font-size: 1.1vw;
}

.exp-card:hover{
    background-color: rgb(36, 36, 36);
}

#education-section h1{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #181717;
    margin-bottom: 4rem;
    padding-top: 4rem;
}

#education-section{
    width: 100%;
    height: 61rem;
    background-color: white;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0; 
}

/* time line */

#timeline-body{
    border: none;
}

.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 11px;
    text-align: right;
    margin-right: 20px;
    color: #000000;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 3px;
    width: 40px;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 100;
    background: #ffffff;
    border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
    background-color: #000000;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#181717), to(#000000));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #181717, #000000);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #181717, #000000);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #181717, #000000);
    /* IE10 */
    background-image: -o-linear-gradient(top, #181717, #000000);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #181717, #000000);
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-right: 18px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    background-color: #000000;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#181717), to(#000000));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #181717, #000000);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #181717, #000000);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #181717, #000000);
    /* IE10 */
    background-image: -o-linear-gradient(top, #181717, #000000);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #181717, #000000);
    margin-right: 40px;
    margin-left: 0;
    text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-left: 18px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#project-section h1{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 4rem;
    padding-top: 4rem;
}

#project-section{
    width: 100%;
    height: 42rem;
    background-color: #000000;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}


.project-div{
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.project-info{
    width: 90%;
}

.project-img img{
    width: 25vw;
}

.project-img svg path{
    fill: #ffffff;
}

.project-decp{
    text-align: left;
    font-size:  1.2vw;
}

.project-heading{
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    font-size: 2rem;
}

.project-no{
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    font-size: 2.5rem;
}

#read-more-svg{
    align-items: flex-start;
}

@media screen and (max-width: 575px) {
    #svg-group img {
        width: 75vw;
    }

    .col-sm-6 {
        text-align: center;
        row-gap: 1rem;
        margin-top: 2.5rem;
    }

    div h1 {
        font-weight: 900;
        font-size: 4vw;
    }

    #self-intro {
        font-size: 3vw;
        margin-bottom: 0;
    }

    #social-link {
        text-align: center;
        justify-content: center;
        margin-top: 0;
    }

    .social-btn {
        height: 35px;
        width: 35px;
    }
    #hero-section div{
        margin-top: 1rem;
    }
    .skill-card{
        height: 6rem;
        width: 6rem;    
    }
    #skills-section h1{
        font-size: 2rem;
    }
    #skills-section{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .exp-card{
        height: 9rem !important;
    }
    .exp-card-text{
        font-size: 0.8rem;
    }
    .exp-card-head span {
        font-size: 1.5vw;
    }
    .volansys-img{
        width: 90px !important;
        height: 25px !important;
    }
    .exp-card-body p {
        font-size: 1.5vw !important;
    }
    #experience-section{
        height: 33rem;
    }
}

@media screen and (max-width: 1150px) {
    .exp-card-body p {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 768px) {
    .exp-card{
        height: 10rem;
    }
    .volansys-img{
        width: 120px;
        height: 35px;
    }


    /* time line */
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-right: 18px solid #000000;
        border-left: inherit;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}